.container {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.container form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 3px;
}

.container form input {
  width: 100%;
  height: 30px;
  background-color: var(--green);
  border: none;
  border-bottom: 2px solid var(--darkestGreen);
  outline: none;
  padding-left: 10px;
}

.container form button {
  align-self: flex-end;
}

.btnContainer {
  margin: 20px 2px;

  display: flex;
  justify-content: space-between;
}
