.container {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h2 {
  color: var(--black);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.form input {
  max-width: 200px;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: var(--green);
  border: none;
  border-bottom: 2px solid var(--darkestGreen);
  outline: none;
}

.form button {
  align-self: flex-end;
}
