.form {
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.form input {
  max-width: 200px;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: var(--green);
  border: none;
  border-bottom: 2px solid var(--darkestGreen);
  outline: none;
}

.form button {
  align-self: flex-end;
}
